.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.65rem 1rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: none !important;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn:not(.btn-ty):not(.btn-sm):not(.btn-md):not(.btn-lg) {
  height: 32px;
}

.btn i.fa {
  width: 1.4rem;
}

.btn {
  padding: 0.4rem 0.65rem;
  font-size: 0.99rem;
  border-radius: 0.25rem;
}

.btn-ty {
  padding: 0.2rem 0.4rem;
  font-size: 0.8em;
  border-radius: 0.2rem;
}

.btn-sm {
  padding: 0.3rem 0.6rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.btn-md {
  padding: 0.4rem 0.7rem;
  font-size: 0.99rem;
  border-radius: 0.25rem;
}

.btn-lg {
  padding: 0.5rem 0.8rem;
  font-size: 1.1rem;
  border-radius: 0.25rem;
}

.btn-brand {
  color: #fff;
  background-color: #716aca;
  border-color: #716aca;
}

.btn-brand:hover {
  color: #fff;
  background-color: #564ec0;
  border-color: #4d44bd;
}

.btn-brand:focus,
.btn-brand.focus {
  box-shadow: 0 0 0 0.2rem rgba(113, 106, 202, 0.5);
}

.btn-brand.disabled,
.btn-brand:disabled {
  color: #fff;
  background-color: #716aca;
  border-color: #716aca;
}

.btn-brand:not(:disabled):not(.disabled):active,
.btn-brand:not(:disabled):not(.disabled).active,
.show>.btn-brand.dropdown-toggle {
  color: #fff;
  background-color: #4d44bd;
  border-color: #4940b4;
}

.btn-brand:not(:disabled):not(.disabled):active:focus,
.btn-brand:not(:disabled):not(.disabled).active:focus,
.show>.btn-brand.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(113, 106, 202, 0.5);
}

.btn-outline-brand {
  color: #716aca;
  background-color: transparent;
  background-image: none;
  border-color: #716aca;
}

.btn-outline-brand:hover {
  color: #ffffff;
  background-color: #716aca;
  border-color: #716aca;
}

.btn-outline-brand:focus,
.btn-outline-brand.focus {
  box-shadow: 0 0 0 0.2rem rgba(113, 106, 202, 0.5);
}

.btn-outline-brand.disabled,
.btn-outline-brand:disabled {
  color: #716aca;
  background-color: transparent;
}

.btn-outline-brand:not(:disabled):not(.disabled):active,
.btn-outline-brand:not(:disabled):not(.disabled).active,
.show>.btn-outline-brand.dropdown-toggle {
  color: #fff;
  background-color: #716aca;
  border-color: #716aca;
}

.btn-outline-brand:not(:disabled):not(.disabled):active:focus,
.btn-outline-brand:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-brand.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(113, 106, 202, 0.5);
}

.btn-metal {
  color: #212529;
  background-color: #c4c5d6;
  border-color: #c4c5d6;
}

.btn-metal:hover {
  color: #212529;
  background-color: #adafc6;
  border-color: #a6a7c1;
}

.btn-metal:focus,
.btn-metal.focus {
  box-shadow: 0 0 0 0.2rem rgba(196, 197, 214, 0.5);
}

.btn-metal.disabled,
.btn-metal:disabled {
  color: #212529;
  background-color: #c4c5d6;
  border-color: #c4c5d6;
}

.btn-metal:not(:disabled):not(.disabled):active,
.btn-metal:not(:disabled):not(.disabled).active,
.show>.btn-metal.dropdown-toggle {
  color: #212529;
  background-color: #a6a7c1;
  border-color: #9ea0bc;
}

.btn-metal:not(:disabled):not(.disabled):active:focus,
.btn-metal:not(:disabled):not(.disabled).active:focus,
.show>.btn-metal.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(196, 197, 214, 0.5);
}

.btn-outline-metal {
  color: #c4c5d6;
  background-color: transparent;
  background-image: none;
  border-color: #c4c5d6;
}

.btn-outline-metal:hover {
  color: #ffffff;
  background-color: #c4c5d6;
  border-color: #c4c5d6;
}

.btn-outline-metal:focus,
.btn-outline-metal.focus {
  box-shadow: 0 0 0 0.2rem rgba(196, 197, 214, 0.5);
}

.btn-outline-metal.disabled,
.btn-outline-metal:disabled {
  color: #c4c5d6;
  background-color: transparent;
}

.btn-outline-metal:not(:disabled):not(.disabled):active,
.btn-outline-metal:not(:disabled):not(.disabled).active,
.show>.btn-outline-metal.dropdown-toggle {
  color: #212529;
  background-color: #c4c5d6;
  border-color: #c4c5d6;
}

.btn-outline-metal:not(:disabled):not(.disabled):active:focus,
.btn-outline-metal:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-metal.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(196, 197, 214, 0.5);
}

.btn-light {
  color: #212529;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-light:hover {
  color: #212529;
  background-color: #ececec;
  border-color: #e6e6e6;
}

.btn-light:focus,
.btn-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-light.disabled,
.btn-light:disabled {
  color: #212529;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show>.btn-light.dropdown-toggle {
  color: #212529;
  background-color: #e6e6e6;
  border-color: #dfdfdf;
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-outline-light {
  color: #ffffff;
  background-color: transparent;
  background-image: none;
  border-color: #ffffff;
}

.btn-outline-light:hover {
  color: #282a3c;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-light:focus,
.btn-outline-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
  color: #ffffff;
  background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active,
.show>.btn-outline-light.dropdown-toggle {
  color: #212529;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-accent {
  color: #fff;
  background-color: #00c5dc;
  border-color: #00c5dc;
}

.btn-accent:hover {
  color: #fff;
  background-color: #00a3b6;
  border-color: #0097a9;
}

.btn-accent:focus,
.btn-accent.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 197, 220, 0.5);
}

.btn-accent.disabled,
.btn-accent:disabled {
  color: #fff;
  background-color: #00c5dc;
  border-color: #00c5dc;
}

.btn-accent:not(:disabled):not(.disabled):active,
.btn-accent:not(:disabled):not(.disabled).active,
.show>.btn-accent.dropdown-toggle {
  color: #fff;
  background-color: #0097a9;
  border-color: #008c9c;
}

.btn-accent:not(:disabled):not(.disabled):active:focus,
.btn-accent:not(:disabled):not(.disabled).active:focus,
.show>.btn-accent.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 197, 220, 0.5);
}

.btn-outline-accent {
  color: #00c5dc;
  background-color: transparent;
  background-image: none;
  border-color: #00c5dc;
}

.btn-outline-accent:hover {
  color: #ffffff;
  background-color: #00c5dc;
  border-color: #00c5dc;
}

.btn-outline-accent:focus,
.btn-outline-accent.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 197, 220, 0.5);
}

.btn-outline-accent.disabled,
.btn-outline-accent:disabled {
  color: #00c5dc;
  background-color: transparent;
}

.btn-outline-accent:not(:disabled):not(.disabled):active,
.btn-outline-accent:not(:disabled):not(.disabled).active,
.show>.btn-outline-accent.dropdown-toggle {
  color: #fff;
  background-color: #00c5dc;
  border-color: #00c5dc;
}

.btn-outline-accent:not(:disabled):not(.disabled):active:focus,
.btn-outline-accent:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-accent.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 197, 220, 0.5);
}

.btn-focus {
  color: #fff;
  background-color: #9816f4;
  border-color: #9816f4;
}

.btn-focus:hover {
  color: #fff;
  background-color: #840ad9;
  border-color: #7c0acd;
}

.btn-focus:focus,
.btn-focus.focus {
  box-shadow: 0 0 0 0.2rem rgba(152, 22, 244, 0.5);
}

.btn-focus.disabled,
.btn-focus:disabled {
  color: #fff;
  background-color: #9816f4;
  border-color: #9816f4;
}

.btn-focus:not(:disabled):not(.disabled):active,
.btn-focus:not(:disabled):not(.disabled).active,
.show>.btn-focus.dropdown-toggle {
  color: #fff;
  background-color: #7c0acd;
  border-color: #7509c1;
}

.btn-focus:not(:disabled):not(.disabled):active:focus,
.btn-focus:not(:disabled):not(.disabled).active:focus,
.show>.btn-focus.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(152, 22, 244, 0.5);
}

.btn-outline-focus {
  color: #9816f4;
  background-color: transparent;
  background-image: none;
  border-color: #9816f4;
}

.btn-outline-focus:hover {
  color: #ffffff;
  background-color: #9816f4;
  border-color: #9816f4;
}

.btn-outline-focus:focus,
.btn-outline-focus.focus {
  box-shadow: 0 0 0 0.2rem rgba(152, 22, 244, 0.5);
}

.btn-outline-focus.disabled,
.btn-outline-focus:disabled {
  color: #9816f4;
  background-color: transparent;
}

.btn-outline-focus:not(:disabled):not(.disabled):active,
.btn-outline-focus:not(:disabled):not(.disabled).active,
.show>.btn-outline-focus.dropdown-toggle {
  color: #fff;
  background-color: #9816f4;
  border-color: #9816f4;
}

.btn-outline-focus:not(:disabled):not(.disabled):active:focus,
.btn-outline-focus:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-focus.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(152, 22, 244, 0.5);
}

.btn-primary {
  color: #fff;
  background-color: #5867dd;
  border-color: #5867dd;
}

.btn-primary:hover {
  color: #fff;
  background-color: #384ad7;
  border-color: #2e40d4;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(88, 103, 221, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #5867dd;
  border-color: #5867dd;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #2e40d4;
  border-color: #293ccc;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(88, 103, 221, 0.5);
}

.btn-outline-primary {
  color: #5867dd;
  background-color: transparent;
  background-image: none;
  border-color: #5867dd;
}

.btn-outline-primary:hover {
  color: #ffffff;
  background-color: #5867dd;
  border-color: #5867dd;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(88, 103, 221, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #5867dd;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #5867dd;
  border-color: #5867dd;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(88, 103, 221, 0.5);
}

.btn-success {
  color: #fff;
  background-color: #34bfa3;
  border-color: #34bfa3;
}

.btn-success:hover {
  color: #fff;
  background-color: #2ca189;
  border-color: #299781;
}

.btn-success:focus,
.btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 191, 163, 0.5);
}

.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: #34bfa3;
  border-color: #34bfa3;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show>.btn-success.dropdown-toggle {
  color: #fff;
  background-color: #299781;
  border-color: #268d78;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 191, 163, 0.5);
}

.btn-outline-success {
  color: #34bfa3;
  background-color: transparent;
  background-image: none;
  border-color: #34bfa3;
}

.btn-outline-success:hover {
  color: #ffffff;
  background-color: #34bfa3;
  border-color: #34bfa3;
}

.btn-outline-success:focus,
.btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 191, 163, 0.5);
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
  color: #34bfa3;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show>.btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #34bfa3;
  border-color: #34bfa3;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 191, 163, 0.5);
}

.btn-info {
  color: #fff;
  background-color: #36a3f7;
  border-color: #36a3f7;
}

.btn-info:hover {
  color: #fff;
  background-color: #1192f6;
  border-color: #0a8cf0;
}

.btn-info:focus,
.btn-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(54, 163, 247, 0.5);
}

.btn-info.disabled,
.btn-info:disabled {
  color: #fff;
  background-color: #36a3f7;
  border-color: #36a3f7;
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show>.btn-info.dropdown-toggle {
  color: #fff;
  background-color: #0a8cf0;
  border-color: #0985e4;
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(54, 163, 247, 0.5);
}

.btn-outline-info {
  color: #36a3f7;
  background-color: transparent;
  background-image: none;
  border-color: #36a3f7;
}

.btn-outline-info:hover {
  color: #ffffff;
  background-color: #36a3f7;
  border-color: #36a3f7;
}

.btn-outline-info:focus,
.btn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(54, 163, 247, 0.5);
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
  color: #36a3f7;
  background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active,
.show>.btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #36a3f7;
  border-color: #36a3f7;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(54, 163, 247, 0.5);
}

.btn-warning {
  color: #212529;
  background-color: #ffb822;
  border-color: #ffb822;
}

.btn-warning:hover {
  color: #212529;
  background-color: #fbaa00;
  border-color: #eea200;
}

.btn-warning:focus,
.btn-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 184, 34, 0.5);
}

.btn-warning.disabled,
.btn-warning:disabled {
  color: #212529;
  background-color: #ffb822;
  border-color: #ffb822;
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show>.btn-warning.dropdown-toggle {
  color: #212529;
  background-color: #eea200;
  border-color: #e19900;
}

.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.show>.btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 184, 34, 0.5);
}

.btn-outline-warning {
  color: #ffb822;
  background-color: transparent;
  background-image: none;
  border-color: #ffb822;
}

.btn-outline-warning:hover {
  color: #111111;
  background-color: #ffb822;
  border-color: #ffb822;
}

.btn-outline-warning:focus,
.btn-outline-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 184, 34, 0.5);
}

.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
  color: #ffb822;
  background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled):active,
.btn-outline-warning:not(:disabled):not(.disabled).active,
.show>.btn-outline-warning.dropdown-toggle {
  color: #212529;
  background-color: #ffb822;
  border-color: #ffb822;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 184, 34, 0.5);
}

.btn-danger {
  color: #fff;
  background-color: #f4516c;
  border-color: #f4516c;
}

.btn-danger:hover {
  color: #fff;
  background-color: #f22d4e;
  border-color: #f12143;
}

.btn-danger:focus,
.btn-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(244, 81, 108, 0.5);
}

.btn-danger.disabled,
.btn-danger:disabled {
  color: #fff;
  background-color: #f4516c;
  border-color: #f4516c;
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show>.btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #f12143;
  border-color: #f01539;
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(244, 81, 108, 0.5);
}

.btn-outline-danger {
  color: #f4516c;
  background-color: transparent;
  background-image: none;
  border-color: #f4516c;
}

.btn-outline-danger:hover {
  color: #ffffff;
  background-color: #f4516c;
  border-color: #f4516c;
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(244, 81, 108, 0.5);
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
  color: #f4516c;
  background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show>.btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #f4516c;
  border-color: #f4516c;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(244, 81, 108, 0.5);
}

.btn-default {
  background-color: white;
  border-color: #ebedf2;
}

.btn-default:hover {
  background-color: #d4d8e3;
  border-color: #ccd1de;
}

.btn-default:focus,
.btn-default.focus {
  box-shadow: 0 0 0 0.2rem rgba(235, 237, 242, 0.5);
}

.btn-default.disabled,
.btn-default:disabled {
  background-color: #ebedf2;
  border-color: #ebedf2;
}

.btn-default:not(:disabled):not(.disabled):active,
.btn-default:not(:disabled):not(.disabled).active,
.show>.btn-default.dropdown-toggle {
  background-color: #ccd1de;
  border-color: #c4cad9;
}

.btn-default:not(:disabled):not(.disabled):active:focus,
.btn-default:not(:disabled):not(.disabled).active:focus,
.show>.btn-default.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(235, 237, 242, 0.5);
}

.btn-secondary {
  color: #212529;
  background: white;
  border-color: #ebedf2;
}

.btn-secondary:hover {
  color: #212529;
  background-color: #d4d8e3;
  border-color: #ccd1de;
}

.btn-secondary:focus,
.btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(235, 237, 242, 0.5);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #212529;
  background-color: #ebedf2;
  border-color: #ebedf2;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
  color: #212529;
  background-color: #ccd1de;
  border-color: #c4cad9;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(235, 237, 242, 0.5);
}
